google-auth-oauthlib
google-api-python-client
requests
google-cloud-language
emoji
wheel
ratelimit

# DEPRECATION: ratelimit is being installed using the legacy 'setup.py install' method, 
# because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. 
# pip 23.1 will enforce this behaviour change. A possible replacement is to enable 
# the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559